# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import pandas as pd
import numpy as np

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [3]:
# Your code here:
import sklearn
from sklearn import datasets
from sklearn.datasets import load_diabetes

In [4]:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [6]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [9]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

# Enter your answer here:

1.How many attributes are there in the data? What do they mean?

There are 10 attributes that show us the starting point of certain characteristics and tests of the patients at day zero. 

2.What is the relation between diabetes['data'] and diabetes['target']?

diabetes['target'] shows us the ilness status (in one year time) based on the diabetes['data'].

3.How many records are there in the data?

There are 442 records or patients

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [37]:
# Your code here:
## dataframe format

diabetes_X,diabetes_y = datasets.load_diabetes(return_X_y = True , as_frame = True)

In [38]:
print(diabetes_X.shape)
diabetes_X

(442, 10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [39]:
diabetes_y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [46]:
# Your code here:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [43]:
# Your code here:

diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [47]:
# Your code here:

diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(diabetes_X, diabetes_y, test_size=20, random_state = 1)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [48]:
# Your code here:

diabetes_model.fit(diabetes_data_train, diabetes_target_train)

LinearRegression()

In [51]:
print('intercept:',diabetes_model.intercept_)
print('coefficients:',diabetes_model.coef_)

intercept: 151.95815995754558
coefficients: [ -12.94872779 -248.36593252  522.72274906  319.73717521 -734.4697455
  447.58673469   69.57793235  150.65158101  736.86958696   58.04957223]

In [49]:
# Score the model
diabetes_model.score(diabetes_data_test, diabetes_target_test)

0.5370118206365482

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [52]:
# Your code here:
diabetes_model.predict(diabetes_data_test)

array([122.46629407, 112.36799222, 180.48132223,  70.35186606,
       172.9338043 , 192.26405906, 219.52139978, 120.22236708,
       159.00145963, 128.93578761, 212.60921439, 201.56947263,
        91.75075853,  75.75887635, 235.74756585, 203.95611179,
       178.91519476, 102.15720827, 114.03760361, 170.45834302])

#### Print your `diabetes_target_test` and compare with the prediction.

In [58]:
# Your code here:
np.array(diabetes_target_test)

array([ 78., 152., 200.,  59., 311., 178., 332., 132., 156., 135., 220.,
       233.,  91.,  51., 195., 109., 217.,  94.,  89., 111.])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:
## no, they are different but in a regression problem we don't expect an exact match but rather an approximation to the
## test values

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [ ]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [80]:
# Your code here:

auto = pd.read_csv('auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [81]:
# Your code here:
print(auto.shape)
auto.head()

(398, 8)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [82]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

At first glance, no column needs to be coerced to numeric; we might have to dummify car_name depending on what's asked further
in the challenge

What is the newest model year and the oldest model year?

In [83]:
# Your code here:

auto.sort_values(['model_year'], ascending=False)

## the newest is 82

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
...,...,...,...,...,...,...,...,...
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""

In [84]:
auto.sort_values(['model_year'])

## the oldest is 70

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Check the dataset for missing values and remove all rows containing at least one missing value.

In [85]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [86]:
# Your code here:
auto.dropna(inplace=True)

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [87]:
# Your code here:
## drop the car_name column

auto.drop(['car_name'], axis=1, inplace=True)

In [88]:
## separate the dataframe to predictor and response variables

X = auto.loc[ : , auto.columns != 'mpg']
y = auto['mpg']

In [90]:
## split test/training data with 80% of the data in the training set and the remainder in the test set
auto_X_train, auto_X_test, auto_y_train, auto_y_test = train_test_split(X, y, train_size=0.8, random_state = 1)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [91]:
# Your code here:

auto_model = LinearRegression()

In [92]:
auto_model.fit(auto_X_train, auto_y_train)

LinearRegression()

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [95]:
from sklearn.metrics import r2_score

In [97]:
# Your code here:

y_pred = auto_model.predict(auto_X_train)
y_pred

array([30.16201258, 20.89349249, 26.85028132, 32.59944053, 31.87788498,
       15.64881146, 24.18006252, 33.4369806 , 27.11580449, 29.04211534,
       23.33700898, 25.47834049, 23.73560393, 15.18602042,  9.73479141,
        7.94860264, 27.17154933, 11.71405621, 25.82284313, 24.2808956 ,
       16.64389067, 26.1218836 , 25.44635818, 21.6197923 , 28.98575637,
       26.4171187 , 30.36976146, 26.69013265, 31.73204907, 11.92332916,
       16.67321439, 32.32053624, 26.00202548, 33.57778953, 24.75560616,
       13.61990476, 27.52182621, 20.99262992, 11.83201741, 29.19613366,
       29.7541858 , 34.65545289, 24.94705179, 23.32451708, 31.96834463,
       16.34894544, 26.08489984, 25.52801536, 15.08809353, 25.49997945,
       31.49562735, 34.36119248, 23.86293291, 15.82348604, 16.48397779,
       21.07977806, 15.22408624, 22.64057283, 28.41369744, 16.78705017,
       13.48043181, 25.91998094, 25.28977752, 24.39432742, 13.03021162,
       24.02293507, 20.34835665, 29.10603987, 15.29709113, 10.89976539,
       30.63542106, 30.41357565, 23.91966478,  9.72054273, 20.69460331,
       23.15604552, 32.58546491, 33.11060161, 27.39386455,  7.69472674,
       15.97374096, 20.61933776, 23.53931743, 15.11483708, 27.9298038 ,
       19.21355719, 25.61810335, 24.82481924, 24.80576949, 21.702649  ,
       17.3074759 , 26.13316241, 25.29885299, 10.30205144, 28.35594635,
       11.17593706, 27.09730015, 19.92186957, 16.96450384, 29.39750259,
       19.77994713, 29.09337531, 19.82659408, 28.85361776, 25.42438857,
       35.28833705, 23.81503712, 24.12288387, 33.57168207, 13.88608402,
        9.66022369, 30.29915769, 21.15578491, 33.32385917, 32.92399339,
       24.00353275,  7.82084008, 24.27652505, 27.10493137, 22.15633907,
       21.89555855, 27.65283708, 24.31819157, 26.60451412, 34.41435871,
       16.4000896 , 21.7015013 , 17.41883202, 35.13908153, 12.6125018 ,
       11.17809464, 25.24975318, 17.56729945, 16.31527358,  9.53483147,
       31.13731868, 26.21290579, 21.77438574, 33.08108598, 29.44805702,
       31.91121632, 23.79016017, 16.98926564, 25.38674169, 32.12893782,
       18.44631655, 25.64218833, 22.14353642, 17.95245698, 30.10636104,
       12.06513867, 22.05899311, 28.58192008, 21.470095  , 11.05936113,
       29.08229927, 18.91659756, 25.65102796, 10.67884299, 21.13865558,
       30.25464139, 16.65432456, 28.28149036, 21.66710826, 13.99236567,
       20.24153983, 28.80069135, 17.58291654, 27.12495585, 30.70168404,
       34.41051468, 28.39610621, 16.0716067 , 20.9742248 , 33.2688214 ,
       30.76248421, 27.08613359, 28.55032293, 24.91511799, 31.80192701,
       32.40644658, 20.27895769, 28.49046855, 19.60992146, 13.80015616,
       23.14395891, 22.0274642 , 27.43884426, 34.40030191, 27.69660635,
       22.40752031, 29.54850836, 20.03269637, 25.76428944, 27.17387691,
        8.07800065, 17.25054152, 24.72630803, 20.6122488 , 25.45281227,
        8.20599364, 30.38714094, 28.34377293, 25.53865736, 29.9539987 ,
       20.28582265, 32.18796802, 15.21762658, 26.47809651, 20.40936111,
       13.95164614, 25.97397843, 26.09971404, 30.76708115, 17.51261642,
       29.38919306, 20.7887126 , 33.18636257, 20.08885838, 22.45254147,
       20.42387344, 17.46877713, 28.7265106 , 28.15754901, 31.73433586,
       15.83002829, 28.04240601, 23.38510816, 26.22860267, 22.06913813,
       28.25944294, 19.46640457, 32.67328743, 30.79741499, 20.7365835 ,
       13.12547434, 32.44197182, 28.22248242, 14.03694898, 24.82807146,
       28.62982654, 32.02119305, 29.15205564, 18.70345017, 11.73920777,
       24.81894054, 26.26053645, 31.78313918, 12.83409287, 25.8762837 ,
       19.75916121, 29.88878473, 27.21832512, 30.21133909,  9.82594011,
       22.04416834, 23.19379204, 20.94286751,  8.36785788, 31.36650911,
       12.76954051, 19.89419071, 25.0179111 , 25.05813957, 29.15233407,
       33.36775499,  9.90538859, 23.53533693,  4.83130262, 26.05287584,
       15.94915028, 30.64112719, 25.02902293, 30.17545868, 24.37837622,
       22.74578001, 12.64214413, 29.63272837, 32.07263371, 30.20534327,
       17.34735272, 27.79102973, 14.30558141, 26.52524213, 23.00065746,
       29.19489134, 30.77315343, 10.08029802, 25.86797668, 14.49199266,
       29.11764799, 24.93913398, 29.32145681, 10.49452141, 25.99249443,
       12.35794568, 24.89872123, 27.0218166 , 21.96079891, 31.11776582,
       24.11174088, 24.0604604 , 30.67836311, 14.15363605, 30.1680281 ,
       27.09655579, 29.30123319, 17.53656643, 28.73710438, 23.54476197,
       12.76626603, 30.27216591, 11.34224232])

In [98]:
r2_score(y_pred, auto_y_train)

0.7591433379547279

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [99]:
# Your code here:

y_test_pred = auto_model.predict(auto_X_test)

In [100]:
r2_score(y_test_pred, auto_y_test)

0.758181145733263

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

In [ ]:
## my results are different (I assume due to random split) and quite similar to each other,
## although we observe a slight overfitting

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [102]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, train_size=0.9, random_state = 1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [103]:
# Your code here:

auto_model09 = LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [106]:
# Your code here:
y_pred09 = auto_model09.predict(X_test09)

In [107]:
r2_score(y_test09, y_pred09)

0.8085025190218508

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [109]:
# Your code here:
r2_score(y_pred09, y_test09)

0.7273998699829258

In [ ]:
## no improvement, the score is worse

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.